// VARIABLES
$color-grey-light:#eef3f4;
$color-grey-meduim:#a9b4b7;
$color-grey-dark:#555a5b;
$ts: all 0.2s;
$color-accent:#2cc695;

/* RESET */
*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}
input{
    font: inherit;
    border: none;
}
button{
    border: none;
    background-color: initial;
    outline: none;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
// KEYFRAME
@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
// UTILITY CLASS
.u-italic {
    font-style: italic;
}
.u-accent {
    color: $color-accent;
}
.u-underline {
    text-decoration: underline;
}
.u-bold{
    font-weight: 500;
}
.u-bolder{
    font-weight: 700;
}

/* BASE STYLES */
.page{
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
    url('https://bytegrad.com/course-assets/css/2/pattern.svg'),
    linear-gradient(to bottom right,#8fd861,#2cc695 );
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}


.app{
    width: 1240px;
    height: 1030px;
    background-color: #fff;
    box-shadow: 0 25px 150px rgba(0, 0,0,0.65);
    margin: 80px 0;
    display: grid;
    grid-template-columns: 355px 1fr;
    grid-template-rows: 65px 724px 1fr;
    @media (max-width : 1300px){
        width: 100%;
        margin: 0;
    }
    
}
/* STYLES */

.header{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    font-weight: 300;
}
.logo{
    margin-left: 48px;
    margin-right: 25px;
}
.search{
    position: relative;
    &__input{
        background-color: $color-grey-light;
        height: 34px;
        width: 405px;
        border-radius: 500px;
        font-size: $color-grey-dark;
        padding-left: 20px;
        outline: none;
        transition: $ts;
        &:focus{
            width: 425px;
        }
        &::placeholder{
            color:$color-grey-meduim ;
        }
    }
    &__submit{
        font-size: 15px;
        color: $color-grey-meduim;
        cursor: pointer;
        position: absolute;
        right: 13px;
        top: 8px;
        &:focus{
            color: $color-grey-dark;
        }
    }
    @media (max-width:750px) {
        display: none;
    }
}

.nav{
    margin-left: auto;
    &__list{
        display: flex;
        
        
    }
    &__item{
        color: $color-grey-meduim;
        color: $color-grey-meduim;
        font-size: 22px;
        width: 100%;
        &:focus{
            background-color: $color-grey-light;
        }
        &:hover{
            background-color: $color-grey-light;
        }
    }
    &__link{
        margin: 0 20px;
        transition: $ts;
        display: block;
        height: 65px;
        line-height: 65px;
    }
}
/* ------------------ */
.sidebar{
    background-color: #11271f;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    @media (max-width:600px) {
        grid-column: 1 / -1;
    }
}
.intro{
    padding: 48px 35px 45px;
    border-bottom: 1px solid rgba(#fff,0.1);
    &__text{
        color: $color-grey-light;
        font-size: 16px;
        margin: 15px;
    }
}
.first-heading{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 1;
}
.social{
    display: flex;
    justify-content: center;
    margin:15px;;
    &__img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #fff;
        &:not(:first-child){
            margin-left: -8px;
        }
    }
    &__container{
        margin-left: 10px;
    }
    &__number{
        font-weight: 500;
    }
    &__text{
        font-size: 12px;
        color:$color-grey-meduim ;
        margin-top: -5px;
    }
}
.upload{
    padding: 45px 35px;
    border-bottom: 1px solid rgba(#fff,0.1);
    color: $color-grey-meduim;

    &__container{
        background-color: rgba(#fff,0.03);
        height: 330px;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        &:hover{
            background-color: rgba(#fff, 0.06);
        }
        &::before{
            content: "";
            border: 2px dashed #434747;
            position: absolute;
            // width: 100%;
            // height: 100%;
            top: -1px;
            bottom: -0.9px;
            left: -1px;
            right: -1px;
        }
    }
    &__icon{
        font-size: 23px;
    }
    &__text{
        color: #fff;
        margin-top: 8px;
    }
    &__alternative{
        font-size: 12px;
        margin-top: -2;
    }
}
.auth{
    &__text{
        color: $color-grey-meduim;
        font-size: 12px;
        text-align: center;
        margin-top:8px;
    }
    &__link{
        font-weight: 500;
        color: $color-accent;
    }
}
.btn{
    background-color: #16b47f;
    padding: 12px 0;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    &:hover,
    &:focus{
        background-color: #119267;
    }
    &__icon{

    }
}
.footer{
    padding-top: 50px;
    padding-left: 35px;
    font-size: 11px;
    
    color: rgba($color-grey-meduim,0.6);
    &__list{
        display: flex;
        flex-direction: column;
        column-gap: 15px;
    }
    &__item{

    }
    &__link{

    }
}
.copyright{
    font-size: inherit;
}

/* ------------------ */
.gallery{
    background-color: $color-grey-light;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 272px 60px 90px 64px 30px 208px;
    &__img-wrapper{
        position: relative;
        &:nth-child(1){
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            animation: fade-in 1s 0.2s backwards;
            // display: none;
        }
        &:nth-child(2){
            grid-column: 2 / 3;
            grid-row: 1 / 4;
            animation: fade-in 1s 0.3s backwards;
            @media (max-width:750px){
                display: none;
            }  
        }   
        &:nth-child(3){
            grid-column: 3 / 4;
            grid-row: 1/2;
            animation: fade-in 1s 0.4s backwards;
            @media (max-width:1100px){
                display: none;
            }
        }
        &:nth-child(4){
            grid-column: 1 / 2;
            grid-row: 3/6;
            animation: fade-in 1s 0.5s backwards;
        }
        &:nth-child(5){
            grid-column: 2 / 3;
            grid-row: 4/7;
            animation: fade-in 1s 0.6s backwards;
            @media (max-width:750px){
                display: none;
            }  
        }
        &:nth-child(6){
            grid-column: 3 / 4;
            grid-row: 2/6;
            animation: fade-in 1s 0.7s backwards;
            @media (max-width:1100px){
                display: none;
            }
        }
        &:nth-child(7){
            grid-column: 1 / 2;
            grid-row: 6/7;
            animation: fade-in 1s 0.8s backwards;
        }
        &:nth-child(8){
            grid-column: 3 / 4;
            grid-row: 6/7;
            animation: fade-in 1s 0.9s backwards;
            @media (max-width:1100px){
                display: none;
            }
        }
        
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__comment{
        background-color: #fff;
        font-size: 12px;
        color: $color-grey-dark;
        padding: 4px 10px;
        border-radius: 500px;
        position: absolute;

        &--1{
            top: 15px;
            right :15px;
        }
        &--2{
            bottom: 15px;
            right :15px;
        }
        &--3{
            top: 15px;
            left: 15px;
        }
        &--4{
            bottom: 15px;
            left: 15px;
        }
    }
    &__icon{

    }
    &__number{

    }
    @media (max-width:1100px){
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width:750px){
        grid-template-columns: 1fr;
    }
    @media (max-width:600px) {
        display: none;
    }
}
/* ------------------ */
.steps{
    background-color: #E7EDEE;
    grid-column: 2 / 3;
    grid-row: -2 / -1;
    display: flex;
    align-items: center;
    @media(max-width:600px){
            display: none;
    }
}
.step{
    text-align: center;
    padding: 0 20px;
    &__icon{
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        height: 50px;
        width: 50px;
        margin-bottom: 17px;
        background-color: #fff;
        line-height: 50px !important;
        margin-bottom: 17px;
        &--1{
            color: #67b941;
        }
        &--2{
            color: #38b049;
        }
        &--3{
            color:#1ea978;
        }
    }
    @media(max-width:1100px){
        &:nth-child(3){
            display: none;
        }
    }
    @media(max-width:750px){
        &:nth-child(2){
            display: none;
        }
    }
    
    &__text{
        color: $color-grey-dark;
        font-size: 12px;
        line-height: 1.8;

    }
}